extends ../layouts/main-layout.pug

block content
    
    if errorMessage
        
        .container.common-size.mx-auto
            .alert.alert-danger !{errorMessage}
    
    .container.for-spacing
    
    .card.border-0.common-size.mx-auto
        .card-body 
            
            form(action="/register" method="POST" enctype="multipart/form-data")
                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                input(type="file" name="image" id="custom-file-chooser" hidden)
                
                .container.for-spacing
                
                .row
                    .d-flex.flex-xs-column.justify-content-center
                        div.text-center
                            label(for="name").col-form-label 
                                strong.common-text-color Kullanıcı Adı
                    .d-flex.flex-xs-column.justify-content-center
                        div
                            input.form-control#name(type="text" name="name")  

                .row
                    .d-flex.flex-xs-column.justify-content-center
                        div.text-center
                            label(for="email").col-form-label 
                                strong.common-text-color Mail Adresi
                    .d-flex.flex-xs-column.justify-content-center
                        div
                            input.form-control#email(type="text" name="email")    

                .row
                    .d-flex.flex-xs-column.justify-content-center
                        div.text-center
                            label(for="password").col-form-label 
                                strong.common-text-color Şifre
                    .d-flex.flex-xs-column.justify-content-center
                        div
                            input.form-control#password(type="password" name="password")  

                .row
                    .d-flex.flex-xs-column.justify-content-center
                        div.text-center
                            label(for="imageUrl").col-form-label 
                                strong.common-text-color Profil Fotoğrafı
                    .d-flex.flex-xs-column.justify-content-center
                        div
                            button(type="button").btn.btn-secondary-outline.border-0
                                label(for="custom-file-chooser")
                                    img(src="/img/select.png" width="20" height="20")
                    
                .container.for-spacing
                
                .row
                    .d-flex.justify-content-center
                        input(type="submit" value="Üye Ol").btn.common-content-color
