extends ../layouts/main-layout.pug

block content   
    
    if errorMessage
        
        .container.common-size.mx-auto
            .alert.alert-danger.text-center !{errorMessage}
    
    .container.for-spacing
    
    .card.border-0.common-size.mx-auto 
        .card-body
            
            form(action="/reset-password" method="POST")
                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                
                .container.for-spacing
                
                .row
                    .d-flex.flex-xs-column.justify-content-center
                        .text-center
                            label(for="email").col-form-label 
                                strong.common-text-color Mail Adresi
                    .d-flex.flex-xs-column.justify-content-center   
                        div
                            input.form-control#email(type="text" name="email")
                
                .container.for-spacing       
                
                .row
                    .d-flex.justify-content-center
                        input(type="submit" value="Mail Gönder").btn.common-content-color
