extends ../layouts/main-layout.pug

block content
    .container    
        if errorMessage
            .container(style="width: 25rem;").mx-auto
                .alert.alert-danger !{errorMessage}
        br
        .card(style="width: 25rem;").mx-auto 
            .card-body
                form(action="/login" method="POST")
                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                    br
                    .row
                        .col-sm-4
                            label(for="email").col-form-label Mail Adresi
                        .col-sm-8
                            input.form-control#name(type="text" name="email")   

                    .row
                        .col-sm-4
                            label(for="password").col-form-label Şifre
                        .col-sm-8
                            input.form-control#password(type="password" name="password")  
                    br       
                    .row
                        .col-sm-4 
                        .col-sm-4.mx-auto
                            input(type="submit" value="Giriş Yap").btn.colorChangeable 
                        .col-sm-4 
                    .row
                        .col-sm-3 
                        .col-sm-6.mx-auto
                            a(href="/reset-password").btn.btn-link.p-0 Şifreni mi unuttun? 
                        .col-sm-3