.flex-row
    
    .d-flex.justify-content-center
        small.text-secondary Dr. Mustafa Buğrahan Yüksel &copy 2022
    
    .d-flex.justify-content-center
        small
            a(href="/contact").text-decoration-none  
                span.text-secondary Hakkımda
 
    .d-flex.justify-content-center
        small
            a(href="/about").text-decoration-none
                span.text-secondary İletişim
    
    .d-flex.justify-content-center
        .p-1 
            a(href="https://www.instagram.com/bugrayukselmd/") 
                    img(src="/img/instagram.png" width="30" height="30").rounded-circle
        .p-1
            a(href="https://twitter.com/bugrayukselmd") 
                    img(src="/img/twitter.png" width="30" height="30").rounded-circle
        .p-1
            a(href="https://www.tiktok.com/@bugrayukselmd") 
                    img(src="/img/tiktok.png" width="30" height="30").rounded-circle
        .p-1
            a(href="https://www.linkedin.com/in/mustafa-bu%C4%9Frahan-y%C3%BCksel-13691221b/") 
                    img(src="/img/linkedin.png" width="30" height="30").rounded-circle
