.container
    .container
        hr
    .row
        .col-xs-5.col-sm-5
            .container 
                small.text-secondary Dr. Mustafa Buğrahan Yüksel © 2022
        .col-xs-2.col-sm-2
            .row
                .col-xs-6.col-sm-6
                        small
                            a(href="/contact").text-decoration-none  
                                span.text-secondary İletişim
                .col-xs-6.col-sm-6
                        small
                            a(href="/about").text-decoration-none 
                                span.text-secondary Hakkımda
        .col-xs-1.col-sm-1
        .col-xs-4.col-sm-4
            .row
                .col-xs-2.col-sm-2  
                        a(href="https://www.instagram.com/bugrayukselmd/") 
                                img(src="/img/instagram.png" width="30" height="30").rounded-circle
                .col-xs-2.col-sm-2 
                        a(href="https://twitter.com/bugrayukselmd") 
                                img(src="/img/twitter.png" width="30" height="30").rounded-circle
                .col-xs-2.col-sm-2
                        a(href="https://www.tiktok.com/@bugrayukselmd") 
                                img(src="/img/tiktok.png" width="30" height="30").rounded-circle
                .col-xs-2.col-sm-2 
                        a(href="https://www.linkedin.com/in/mustafa-bu%C4%9Frahan-y%C3%BCksel-13691221b/") 
                                img(src="/img/linkedin.png" width="30" height="30").rounded-circle
