.flex-row
    
    .d-flex.justify-content-center
        small.text-secondary Dr. Mustafa Buğrahan Yüksel &copy 2022
    
    .d-flex.justify-content-center
        .p-1 
            a(href="/linktree").text-decoration-none.common-text-color 
                strong.text-center 
                    i Beni Takip Edin!
        