block append styles 
    link(rel="stylesheet" href="/css/navbar.css")
   
nav.navbar-dark.common-content-color.sticky-top
    .flex-row.pt-3
        .container
            .d-flex.justify-content-start
                a#navBrand.navbar-brand(href='/') 
                    i 
                        strong BUĞRA YÜKSEL MD
     
    .flex-row.nav-items
        .d-flex.justify-content-center
            div.p-2
                a(href="/", class=(path === '/'?'nav-link active':'nav-link')) Anasayfa

            div.p-2
                a(href="/about", class=(path === '/about'?'nav-link active':'nav-link')) Hakkımda

            div.p-2
                a(href="/contact", class=(path === '/contact'?'nav-link active':'nav-link')) İletişim

       
            div
                button.dropdown-toggle#dropdownToggler.btn.btn-secondary-outline.rounded-circle.border-0(type="button" data-bs-toggle="dropdown" aria-expanded='false')
                    img.rounded-circle(src=(user?`https://drive.google.com/uc?export=view&id=${user.imageUrl}`: `/uploads/default.png`) width="35" height="35")
    
                div.dropdown-menu(aria-labelledby="dropdownToggler")
                    
                    if isAuthenticated
                        .flex-row
                            
                            .d-flex.align-items-center
                                .flex-column
                                    .d-flex.justify-content-center.p-1
                                        a.dropdown-item.common-text-color.text-center(href=`/profile/${user.urlExt}`, class=(path === '/profile'?'disabled':'')) Profilim   
                                    .d-flex.justify-content-center.p-1    
                                        a.dropdown-item.common-text-color.text-center(href=`/favourites/${user.urlExt}`, class=(path === '/favourites'?'disabled':'')) Favorilerim
                                    .d-flex.justify-content-center
                                    
                                    if isAdmin
                                        .d-flex.justify-content-center.p-1
                                            a.dropdown-item.common-text-color.text-center(href="/admin/add-blog", class=(path === '/add-blog'?'disabled':'')) Blog Yaz
                                        .d-flex.justify-content-center.p-1
                                            a.dropdown-item.common-text-color.text-center(href="/admin/category", class=(path === '/category'?'disabled':'')) Kategorileri Düzenle
                                        .d-flex.justify-content-center.p-1
                                            a.dropdown-item.common-text-color.text-center(href="/admin/blogs", class=(path === '/adminblogs'?'disabled':'')) Yazılarım 

                                .flex-column
                                    .d-flex.align-self-center
                                        div.align-self-stretch
                                            a.dropdown-item(href="/logout")
                                                img(src=`/img/logout.png` width="25" height="25")

                    else 
                        .flex-row
                            .d-flex.justify-content-center.p-1
                                a.dropdown-item.common-text-color.text-center(href="/login") Giriş Yap
                            .d-flex.justify-content-center.p-1    
                                a.dropdown-item.common-text-color.text-center(href="/register") Üye Ol   