block append styles 
    link(rel="stylesheet" href="/css/navbar.css")
   
nav.navbar-dark.colorChangeable.sticky-top
    .container 
        .row.pt-3
            .container
                .container 
                    .row
                        .col-sm-4
                            a(href='/')#navBrand.navbar-brand GÜNDEN GÜNE DAHA İYİYE
                        .col-sm-8     
        .row
            .col-sm-3 
            .col-sm-6
                ul.navbar-nav.list-group-horizontal
                    li.nav-item.mx-auto
                        a(href="/", class=(path === '/'?'nav-link active':'nav-link')) Anasayfa

                    li.nav-item.mx-auto
                        a(href="/about", class=(path === '/about'?'nav-link active':'nav-link')) Hakkımda

                    li.nav-item.mx-auto
                        a(href="/contact", class=(path === '/contact'?'nav-link active':'nav-link')) İletişim
                
                    if isAdmin
                        
                        li.nav-item.mx-auto
                            a(href="/admin/add-blog", class=(path === '/add-blog'?'nav-link active':'nav-link')) Blog Yaz
                        
                        li.nav-item.mx-auto
                            a(href="/admin/blogs", class=(path === '/adminblogs'?'nav-link active':'nav-link')) Yazılarım
            .col-sm-3
                .dropdown
                    button.dropdown-toggle#dropdownToggler(type="button" data-bs-toggle="dropdown" aria-expanded='false').btn.btn-secondary-outline.rounded-circle
                        img(src=(user?`/uploads/${user.imageUrl}`: `/uploads/default.png`) width="35" height="35").rounded-circle 
        
                    .container
                        ul.dropdown-menu(aria-labelledby="dropdownToggler")
                            if isAuthenticated
                                .row
                                    .col-sm-7
                                        li
                                            a.dropdown-item(href=`/profile/${user.urlExt}`, class=(path === '/profile'?'nav-link active':'nav-link')).text-light.colorChangeable.rounded.mx-auto Profilim   
                                        li
                                            a.dropdown-item(href=`/favourites/${user.urlExt}`, class=(path === '/favourites'?'nav-link active':'nav-link')).text-light.colorChangeable.rounded Favorilerim
                                
                                    .col-sm-5
                                        li.pt-1
                                            a.dropdown-item(href="/logout") 
                                                img(src=`/img/logout.png` width="25" height="25")
                            else 
                                li
                                    a.dropdown-item(href="/login") Giriş Yap
                                        
                                li
                                    a.dropdown-item(href="/register") Üye Ol