<!doctype html>
html(lang="en")

    include ../includes/head

    body

        include ../includes/navbar          
        br
        block content           

        include ../includes/script
    
    footer 
        
        include ../includes/footer