<!doctype html>
html(lang="en")
    include ../includes/head
    include ../includes/navbar           
    body
        br
        block content          
    include ../includes/script 
    footer  
        include ../includes/footer