<!doctype html>
html(lang="en")
    
    include ../includes/head
    header
        include ../includes/navbar           
    
    body
       
        main
            block content          
    
    include ../includes/script 
    
    footer   
        .container
            hr
            include ../includes/footer