<!doctype html>
html(lang="en")
    div(style="width:50rem;").mx-auto
        include ../includes/head
        include ../includes/navbar           
        body
            .container(style="height: 1rem;")
            block content          
        include ../includes/script 
        footer  
            include ../includes/footer