<!doctype html>
html(lang="en")
    
    include ../includes/head
    include ../includes/navbar           
    
    body
       
        .container-fluid
            block content          
    
    include ../includes/script 
    
    footer  
        
        .container
            hr
            include ../includes/footer