img {
    max-width:100%;
    max-height:100%;
  }
.card-blog{
  max-width: 50rem;
}
.card-comment{
  min-width:15rem;
  max-width: 50rem;
}
.card-add-comment{
  max-width:25rem;
}
.blog-title{
  font-size: calc(25px + 10 * ((50vw - 400px) / 680));
}
.blog-footer{
  font-size: calc(15px + 1 * ((50vw - 400px) / 680));
}