.index{
    width:50rem;
    
}
.list{
    max-width:15rem;
    
}
.index-title{
    font-size: calc(20px + 10 * ((50vw - 400px) / 680));
}
.index-footer{
    font-size: calc(15px + 1 * ((50vw - 400px) / 680));
}
.table-div{
    max-width:50rem;
}