#navBrand{
    position: absolute;
    font-size: 1.25em; /*divide px to 16*/
    font-family: 'Audiowide', cursive;
    font-weight: normal;
    font-style: normal;
    text-shadow: 0px 3px 3px #ababab;
}

