.common-content-color{
    background-color: #006432;
    color:white;
}
.common-text-color{
    color: #006432;
}
.common-size{
    max-width: 50rem;
}
.for-spacing{
    height:1vh;
}
.card{
    background-color: mintcream;
    box-shadow: 7px 5px 30px 5px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .55s ease-in-out;
}
.table-shadow{
    background-color: mintcream;
    box-shadow: 0px 0px 30px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .55s ease-in-out;
}
.alert{
    width: 80%;
    margin: auto;
    box-shadow: 7px 5px 30px 5px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .55s ease-in-out;
}
td{
    max-width:22rem;
    justify-content: space-around;
}
span{
    max-width:20rem;
}
footer{
    font-size: calc(12px + 10 * ((100vw - 320px) / 1360));
}