.common-content-color{
    background-color: #006432;
    color:white;
}
.common-text-color{
    color: #006432;
}
.common-size{
    width: 80%;
}
.for-spacing{
    height:1vh;
}

.card{
    background-color: mintcream;
}