extends ../layouts/main-layout.pug 
include ../mixins/createBlogFlow.pug


block append content 
     
    .container.for-spacing

    .container.common-size.mx-auto
        .alert.alert-danger.text-center Aradığınız sayfa bulunamadı!
