mixin createBlogFlow(blog)
    .container(style="height: 1rem;")
    .card(style="width: 40rem;").mx-auto 
        .card-body
            .row
                a(href=`/blog/${blog.urlExt}`).text-decoration-none.colorChangeableTxt
                    span 
                        strong #{blog.title}   
            hr
            .row
                p #{blog.subject}
        .card-footer
            small.text-muted #{blog.date}
    