mixin createBlogFlow(blog)
    
    .card.common-size.mx-auto 
        .card-body
           
            .flex-row
                .d-flex.justify-content-start.align-items-start
                    a.text-decoration-none.common-text-color(href=`/blog/${blog.urlExt}`)
                        strong #{blog.title}  
            
            .flex-row
                .d-flex.justify-content-end.align-items-start
                    small.text-muted #{blog.readMin} dakika
            
            .flex-row
                .d-flex.justify-content-end.align-items-start        
                    small.text-muted #{blog.date}
            
    