mixin createBlogFlow(blog)
    
    .card.common-size.mx-auto 
        .card-body
           
            .flex-row
                .d-flex.justify-content-center
                    div
                        a.text-decoration-none.common-text-color(href=`/blog/${blog.urlExt}`)
                            strong #{blog.title}  
            
            hr
           
            .flex-row
                .d-flex.justify-content-center
                    p #{blog.subject}
            
            .flex-row
                .d-flex.justify-content-end
                    div
                        small.text-muted #{blog.date}
            
    