mixin createBlogFlow(blog)
    
    .card.border-0.common-size.mx-auto.index 
        .card-body
           
            .flex-row
                .d-flex.justify-content-start.align-items-start
                    article
                        a.text-break.text-decoration-none.common-text-color(href=`/blog/${blog.urlExt}`)
                            strong #{blog.title}  
            
            .flex-row
                .d-flex.justify-content-end.align-items-start
                    small.text-muted #{blog.readMin} dakika
            
            .flex-row
                .d-flex.justify-content-end.align-items-start        
                    small.text-muted #{blog.date}
            
    