extends ../layouts/main-layout.pug 
include ../mixins/createBlog.pug
include ../mixins/list-comment.pug

block append styles 
    link(rel="stylesheet", href="/css/get-blog.css")
   
block append content 

    if blog
        
        .container.for-spacing
        section
            .flex-row
                .d-flex.justify-content-center
                    .container
                        +createBlog(blog)

            .container.for-spacing
            .container.for-spacing 
            

            .container
                .card-group.common-size.mx-auto
                    .row.row-cols-lg-3.row-cols-md-2.row-cols-sm-1.row-cols-xs-1.g-2.mx-auto
                        +createComment(blog)
            
            .container.for-spacing 
            .container.for-spacing
            
            if isAuthenticated
                .flex-row
                    .d-flex.mx-auto.justify-content-center
                        .container
                                +commentArea(blog)
            
            else 
                .container.for-spacing
                
                .container.common-size.mx-auto
                    .alert.alert-warning.text-center Yorum yapmak için lütfen giriş yapınız.

    else 
        .container.for-spacing

        .container.common-size.mx-auto
            .alert.alert-secondary.common-size.text-center Blog bulunamadı!