extends ../layouts/main-layout.pug 
include ../mixins/createBlog.pug
include ../mixins/list-comment.pug

block append content 

        if blog
            br
            +createBlog(blog)
    
            +createComment(blog)
  
        else 
            div.alert.alert-alert Yazı Bulunamadı
    
    
