extends ../layouts/main-layout.pug 
include ../mixins/createBlog.pug
include ../mixins/list-comment.pug

block append content 

        if blog
            br
            .flex-row
                .d-flex.justify-content-center
                    .container
                        +createBlog(blog)
            //.flex-row
                .d-flex.justify-content-center
                    .container
                        +createComment(blog)
  
        else 
            .container.for-spacing

            .container.common-size.mx-auto
                .alert.alert-secondary Blog bulunamadı!
    
    
