extends ../layouts/main-layout.pug

block append styles 
    link(rel="stylesheet", href="/css/about.css")

block append content 
    if errorMessage
        .container.mx-auto
            .alert.alert-warning.text-center !{errorMessage}
    section

        .container.for-spacing
        .card.mx-auto(style="max-width:50vh") 
            img.card-img-top(src="/img/headicon.jpeg")
            .card-body
                .card-text.text-break.common-text-color 
                    h5 Merhabalar, 
                    p Ben Buğra. OMÜ Tıp Fakültesi 5.sınıf öğrencisiyim ve 2 yıldan fazla zamandır kişisel maddi özgürlüğümü edinmek adına çalışmalar yapıyorum. 
                    p Maddi tatmin peşinde koşarken, manevi olarak geride kalmamak adına her iki kanattan da yaptığım paylaşımlarım(kişisel gelişim / kişisel finans) blogun ana odak noktaları olacak. 
                    p Lütfen herhangi bir sorun olduğunda bana ulaşmaya çekinme! 
                    p İyi okumalar
                    p Saygılarımla...
