extends ../layouts/main-layout.pug 
include ../mixins/createBlogFlow.pug

block append styles 
    link(rel="stylesheet", href="/css/index.css")

block append content 
    
    if errorMessage
        .container.mx-auto
            .alert.alert-warning.text-center !{errorMessage}
    if blogs.length > 0
        .container
            each blog in blogs.reverse()
                section
                    .flex-row
                        .d-flex.justify-content-center.p-2
                            .container
                                +createBlogFlow(blog)
    
    else 
        
        .container.for-spacing

        .container.common-size.mx-auto
            .alert.alert-secondary.text-center Blog yazıları yüklenemedi. Lütfen sayfayı yenileyiniz.
