extends ../layouts/main-layout.pug 
include ../mixins/createBlogFlow.pug

block append content 
    if errorMessage
        div.alert.alert-warning.col-sm-7 !{errorMessage}
    if blogs.length > 0
        each blog in blogs
            +createBlogFlow(blog)
    
        if isFull
            .container 
                br
                form(action=`/` method='POST')
                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                    button(type='submit').btn.btn-secondary-outline
                        img(src="/img/loadmore.png" width="30" height="30")
    else 
        .container 
            h1 Blog Bulunamadı!
